name: Build CD Images

on:
  push:
    branches:
      - master
      - "release-[0-9]+.[0-9]+.x"

jobs:
  publish_images:
    runs-on: ubuntu-latest
    env:
      GRADLE_ARGS: -Partifactory_user=${{secrets.ARTIFACTORY_USER}} -Partifactory_password=${{secrets.ARTIFACTORY_TOKEN}}
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: checkout code
        uses: actions/checkout@v2

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: |
            11
            17
          distribution: 'zulu'
          cache: 'gradle'

      - name: build
        run: ./gradlew -PenableCrossCompilerPlugin=true releaseBundle $GRADLE_ARGS

      - name: archive build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: build/distributions

      - name: install JFrog CLI
        uses: jfrog/setup-jfrog-cli@686845529f661c9afbbee4547baa1f6d2d7ce5e0 # v1.2.1

      - name: generate variables
        id: variables
        uses: armory-io/astrolabe-build-defaults@c31d5d38c54920da01ec1cf9231e8df957603b9a # main

      - name: build docker image
        id: build-docker-image
        run: |
          docker build -t ${{ steps.variables.outputs.artifactory_image_name }} -f build-tools/Dockerfile .

      - name: Publish Image To Artifactory
        env:
          ARTIFACTORY_TOKEN: ${{ secrets.ARTIFACTORY_TOKEN_FOR_IMAGE_PUBLISH }}
        run: |
          jfrog config add deploy --artifactory-url ${{ steps.variables.outputs.artifactory_url }} --access-token ${ARTIFACTORY_TOKEN} --interactive=false

          jfrog rt dp ${{ steps.variables.outputs.artifactory_image_name }} ${{ steps.variables.outputs.artifactory_docker_repository }} \
            --build-name=${{ steps.variables.outputs.build_name }} \
            --build-number=${{ steps.variables.outputs.build_number }}

          jfrog rt sp "${{ steps.variables.outputs.artifactory_docker_repository }}/armory/${{ steps.variables.outputs.repo }}/${{ steps.variables.outputs.version }}/manifest.json" "spinnaker-plugin=true"

          jfrog rt bag ${{ steps.variables.outputs.build_name }} ${{ steps.variables.outputs.build_number }}

          jfrog rt bp ${{ steps.variables.outputs.build_name }} ${{ steps.variables.outputs.build_number }} \
            --build-url=${{ steps.variables.outputs.build_url }}
