name: CI

on:
  pull_request:
  push:
    branches:
      - master

permissions:
  contents: read

jobs:
  build:
    env:
      COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
    name: Build Plugin
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: checkout code
        uses: actions/checkout@v2
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: |
            11
            17
          distribution: 'zulu'
          cache: 'gradle'
      - name: run tests
        run: |
          ./gradlew check aggregatedJacocoReport
          ./gradlew coveralls
          curl -F 'json_file=@build/coveralls/report.json' 'https://coveralls.io/api/v1/jobs'
      - name: build
        run: |
          ./gradlew -PenableCrossCompilerPlugin=true releaseBundle
      - name: archive build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: build/distributions
